.Pagination{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 20px;
  font-size: 18px;
}

.Pagination-item{
  display: block;
  padding: 2px 4px 3px 2px;
  margin: 0 2px;
  cursor: pointer;
}

.Pagination-item:hover{
  background: #E1E1E1;
}

.Pagination-item_active,
.Pagination-item_active:hover{
  background: #000;
  color: #fff;
}

.Pagination-item_split,
.Pagination-item_split:hover{
  background: transparent;
  cursor: default;
}
