/*Список*/
.List{

}
.List__item{
    border-bottom: 1px dashed #ccc;
}

.List__item:first-child{
    border-top: 1px dashed #ccc;
}
.Item__count{
    margin-left: 35px;
    white-space: nowrap;
}
.List__empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
