/* Контрол с общими действиями */
.BasketSimple{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 18px;
}

.BasketSimple__label{

}

.BasketSimple__total{
    font-weight: bold;
    margin: 0 15px;
}
