/* Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
}
.Controls__specifications{
    margin-right: 24px;
}
