.Modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}
.Modal__body {
    width: 960px;
    min-height: 400px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 74px;
    transform: scale(0.5);
    transition: 0.4s all;
}
.Modal.active{
    opacity: 1;
    pointer-events: all;
}
.Modal__body.active{
    transform: scale(1);
}
.Modal__header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 74px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
}
.Modal__empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
