.Form {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}
.Form label {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.Form input,
.Form textarea,
.Form select {
  margin-top: 5px;
}
.Form label:nth-child(1),
.Form label:nth-child(3) {
  width: 40%;
}
.Form label:nth-child(4) {
  width: 23%;
}
.Form label:nth-child(5),
.Form label:nth-child(6) {
  width: 30%;
}
.Form button {
  width: 12%;
  margin-top: 20px;
}
