.Form {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}
.Form label {
  margin-bottom: 5px;
  margin-top: 20px;
}
.Form-title, .maidIn select {
  width: 40%;
}
.category select {
  width: 23%;
}
.Form-edition, .Form-price {
  width: 30%;
}
.Form button {
  width: 12%;
  margin-top: 20px;
}
