.LayoutTools{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 20px;
  margin-left: -5px;
  margin-right: -5px;
  align-items: center;
}
.LayoutTools-item{
  margin: 0 5px;
}
